
/******************************** Custom styles **********************************************/
body {
    font-family: 'Montserrat', sans-serif !important;
}

.container.padding-lr {
    padding-left: 72px;
    padding-right: 72px;
}

.content {
  padding-top: 130px;
}

.content-case-studies {
  padding-top: 100px;
}

.design-text {
    font-size: 61px;
    line-height: 74px;
    color: #000000;
    margin: 0px;
    margin-top: 57px;
}

.hero-text {
  font-size: 25px;
  line-height: 35px;
  margin-top: 95px;
}

.nav-item {
    margin-right: 0px;
    padding-right: 0px;
}

.nav-link {
    width: 100%;
    text-align: right;
    padding-right: 0px !important;
}

h1.main-page {
    color: var(--chaks-red-color);
    font-weight: 600;
    font-size: 149px;
    line-height: 105px;
    display: flex;
    align-items: center;
    margin: 0px;
    margin-left: -10px;
}

h1.case-studies {
  font-weight: 700;
  font-size: 59px;
  margin-bottom: 50px;
}

h2.case-studies {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 62px;
  margin-top: 90px;
}

h3.case-study-heading {
  font-size: 61px;
  line-height: 74px;
  margin-top: 34px;
}

.case-study-sub-heading {
  font-weight: 500;
  font-size: 39px;
  line-height: 48px;
}

.case-study-container {
  background: linear-gradient(262.77deg, #E5E5E5 47.42%, #FFFFFF 61.9%);
  width: 100%;
}

.resume-heading {
  font-size: 30px;
  line-height: 35px;
  color: #000 !important;
}

p.readmore {
  text-align: right;
  margin-top: 32px;
}

.tesla-img-screen {
  width: 420px; 
  position: absolute;
  margin-top: 35px;
  right: 60px;
}

.tesla-img-mobile {
  width: 200px; 
  position: absolute;
  margin-top: 220px;
  right: 250px;
}

.case-study-space {
  height: 141px;
}

.ato-img-screen {
  width: 480px;
  position: absolute;
  margin-top: 80px;
  right: 60px;
}

footer {
  border-top: solid 2px var(--chaks-gold-color);
  margin-top: 100px;
}

footer p {
  font-size: 13px;
  font-weight: 500;
}





  
  .big-text {
    font-size: 3em;
    font-weight: 500;
  }
  

  
  .gold-text {
    color: var(--chaks-gold-color)
  }
  
  .red-text {
    color: var(--chaks-red-color)
  }
  
  a.red-text {
    font-weight: 700;
    margin-right: 20px;
  }
  
  a.red-text:hover {
    color: var(--chaks-gold-color);
  }
  

  
  
  

  .case-study-revert-gradient-container {
    background: linear-gradient(262.77deg, #FFFFFF 47.42%, #E5E5E5 61.9%);
  }
  

  
  .ngo-img {
    width: 400px; 
    position: absolute;
  }
  
  .ato-img {
    width: 420px; 
    position: absolute;
  }
  

  .hover-zoomin a {
    display: block;
    position: relative;
  }
  
  .hover-zoomin img {
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .hover-zoomin:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  footer a {
    color: var(--chaks-gold-color);
    text-decoration: none;
  }
  
  footer a:hover {
    color: var(--bs-white);
    text-decoration: underline;
  }
  

  
  .site-name {
    color: var(--chaks-red-color) !important;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }
  
  .nav-link {
    color: var(--bs-black) !important;
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important;
  }
  
  .nav-link.active {
    color: var(--chaks-red-color) !important;
  }
  
  .nav-link:hover {
    color: var(--chaks-red-color) !important;
    text-decoration: underline;
    
  }
  
  .fs-xxlarge {
    font-size: xx-large;
  }
  
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--chaks-gold-color);
  }
   
  /* ILF */
  .top-bk {
    position: absolute;
    left: 96.92%;
    right: -104.49%;
    top: -1.59%;
    bottom: 98.03%;
  
    background: rgba(251, 133, 0, 0.28);
    transform: matrix(-0.98, 0.18, 0.21, 0.98, 0, 0);
    height: 500px;
  }

  /* ILF Case study */
  .footer-ilf {
    max-width: 1320px;
    margin: auto;
    margin-top: 450px;
    padding-left: 80px;
  }

  /* .ilf-case-study h1, h2 {
    color: #C57B57 !important;
    font-weight: 700;
  }

  .ilf-case-study h2 {
    line-height: 63px;
  } */

  .site-name {
    font-family: 'Montserrat', sans-serif !important;
  }